# Ejemplo de configuración de entorno
# Clave secreta utilizada para firmar las cookies de sesión
SECRET_KEY=

# Configuración del servidor de correo
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Parámetros de la base de datos MySQL
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=nutriboom

